<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower/iron-icon/iron-icon.html">
<link rel="import" href="/bower/iron-icons/iron-icons.html">
<link rel="import" href="/bower/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="/bower/paper-item/paper-item.html">

<dom-module id="data-table">
  <style is="custom-style" include="iron-flex iron-flex-alignment">
    :host div.table {
      border-collapse: collapse;
      display: table;
      width: calc(100% - 16px);
    }

    :host div.table div.group {
      display: table-row-group;
    }

    :host div.table > div.group.header {
      display: table-header-group;
      width: 100%
    }

    :host div.table > div.group.header .row {
      height: 56px;
    }

    :host div.table .row {
      @apply(--layout-horizontal);
      @apply(--layout-justified);
      border-color: var(--divider-color);
      height: 48px;
    }

    :host div.table .row:hover,
    :host ::content div.table .row:hover paper-input paper-input-container label {
      background-color: var(--secondary-text-color);
      color: var(--dark-primary-color);
    }

    :host div.table paper-input {
      padding-right: 10px;
    }

    :host div.table div.group.header .row .sorted {
      color: var(--primary-text-color);
    }

    :host div.table .row iron-icon {
      fill: var(--secondary-text-color);
    }

    :host div.table .row:hover iron-icon {
      fill: var(--dark-primary-color);
    }

    :host div.table .row > * {
      color: var(--primary-text-color);
      fill: var(--primary-text-color);
    }

    :host div.table div.group.header .row > * {
      line-height: 24px;
      color: var(--primary-text-color);
    }

    :host div.table .row:hover > *,
    :host div.table div.group.header .row:hover > *,
    :host ::content div.table .row:hover paper-input paper-input-container label {
      color: var(--dark-primary-color);
    }

    :host div.table .row > :not(template) {
      @apply(--layout-self-center);
      /*line-height: normal;*/
    }

    :host div.table .row > :not(template):not(.last) {
      @apply(--layout-flex);
    }

    :host #columnsDialog {
      background-color: var(--light-theme-background-color);
      color: var(--light-theme-text-color);
    }

    :host #columnsDialog paper-checkbox {
      @apply(--paper-font-caption);
      --paper-checkbox-checked-color: var(--light-theme-text-color);
      --paper-checkbox-label-color: var(--light-theme-text-color);
    }

    :host div.table .row > ::before {
      display: none;
    }
  </style>
  <template>
    <array-selector id="sort-selector" items="{{sortBy}}"
                    selected="{{sortColumn}}"></array-selector>
    <div class="table">
      <div class="group header">
        <div class="row">
          <template is="dom-repeat"
                    items="{{columns}}"
                    as="column"
                    filter="_showingColumn"
                    observe="showing">
              <span class="flex self-center" class$="{{_sortingRowClass(column, sortColumn)}}"
                    on-tap="_sortByColumn">
                {{column.label}}
                <template is="dom-if" if="{{_isSortingColumn(column, sortColumn)}}">
                  <iron-icon
                      icon="{{_columnSortIcon(column, sortColumn.reverse)}}"></iron-icon>
                </template>
              </span>
          </template>
          <div class="last">
            <iron-icon icon="menu" on-tap="_chooseColumns"></iron-icon>
          </div>
        </div>
      </div>
      <div class="group">
        <template id="rows" is="dom-repeat" items="{{rows}}" sort="_sortRows" as="row">
          <div class="row">
            <template is="dom-repeat" items="{{columns}}" as="column">
              <template is="dom-if" if="{{editable}}">
                <paper-input no-label-float
                             label="{{column.label}}"
                             value="{{_getRowData(row, column.id)}}"
                             on-change="_setRowData"></paper-input>
              </template>
              <template is="dom-if" if="{{!editable}}">
                <span class="flex self-center">{{_getRowData(row, column.id)}}</span>
              </template>
            </template>
            <template is="dom-if" if="{{editable}}">
              <iron-icon row="{{row}}" class="last" icon="delete" on-tap="_deleteRow"></iron-icon>
            </template>
            <template is="dom-if" if="{{!editable}}">
              <div class="last"></div>
            </template>
          </div>
        </template>
      </div>
    </div>
    <paper-dialog id="columnsDialog">
      <h2>Select Table Columns</h2>
      <paper-dialog-scrollable>
        <template is="dom-repeat" items="{{columns}}">
          <paper-item>
            <paper-checkbox id="{{item.id}}" checked="{{item.showing}}">
              {{item.label}}
            </paper-checkbox>
          </paper-item>
        </template>
        <paper-button raised dialog-confirm>OK</paper-button>
      </paper-dialog-scrollable>
    </paper-dialog>
  </template>

  <script>
    Polymer({
      id: 'data-table',
      properties: {
        sortColumn: Object,
        down: {
          type: String,
          value: "arrow-drop-down"
        },
        up: {
          type: String,
          value: "arrow-drop-up"
        },
        columns: {
          type: Array,
          observer: '_setInitialSort'
        },
        editable: {
          type: Boolean,
          value: true
        },
        rows: {
          type: Array,
          notify: true,
          value: function () {
            return [];
          }
        },
        sortBy: {
          type: Array,
          value: function () {
            return [];
          }
        }
      },

      // column related functions
      _chooseColumns: function () {
        this.$.columnsDialog.open();
      },

      _columnSortIcon: function (column, isReversed) {
        return isReversed ? this.up : this.down;
      },

      _isSortingColumn: function (column, sortColumn) {
        return sortColumn && sortColumn.id == column.id;
      },

      _reverseSort: function () {
        if (!this.sortBy[0]) {
          return;
        }
        this.sortBy[0].reverse = !this.sortBy[0].reverse;
        this.$['sort-selector'].deselect(this.sortBy[0]);
        this.$['sort-selector'].select(this.sortBy[0]);
        this.$.rows.render();
      },

      _setInitialSort: function (columns) {
        this.sortBy = [
          {id: columns[0].id, reverse: false}
        ];
        this.sortColumn = this.sortBy[0];
      },

      _showingColumn: function (column) {
        return column.showing;
      },

      _sortByColumn: function (event) {
        var column = event.model.column;
        if (column.id == this.sortBy[0].id) {
          this._reverseSort();
          return;
        }
        for (var i = 0; i < this.sortBy.length; i++) {
          if (this.sortBy[i].id == column.id) {
            this.sortBy.splice(i, 1);
            break;
          }
        }

        this.unshift('sortBy', {
          id: column.id,
          reverse: false
        });
        this.$['sort-selector'].select(this.sortBy[0]);
        this.$.rows.render();
      },

      _sortingRowClass: function (column, sortColumn) {
        if (this._isSortingColumn(column, sortColumn)) {
          return 'sorted';
        }
      },

      // sorting related functions
      _compareRows: function (rowA, rowB, sortBy) {
        if (rowA[sortBy.id] == rowB[sortBy.id]) {
          return;
        } else if (rowB[sortBy.id] > rowA[sortBy.id]) {
          return sortBy.reverse ? 1 : -1;
        } else {
          return sortBy.reverse ? -1 : 1;
        }
      },

      _sortRows: function (rowA, rowB) {
        if (this.sortBy.length == 0) {
          return 0;
        }
        for (var i = 0; i < this.sortBy.length; i++) {
          var sort = this._compareRows(rowA, rowB, this.sortBy[i]);
          if (sort) {
            return sort;
          }
        }
        return 0;
      },

      _deleteRow: function (event) {
        var ind = this.rows.indexOf(event.model.row);
        if (ind >= 0) {
          this.splice('rows', ind, 1);
        }
      },

      _getRowData: function (row, columnId) {
        return row && row[columnId] ? row[columnId] : '';
      },

      _setRowData: function (event, change) {
        var row = event.model.row;
        var ind = this.rows.indexOf(row);
        this.set('rows.#' + ind + '.' + event.model.column.id, event.target.value);
      }
    })
  </script>
</dom-module>