<link rel="import" href="../behavior/google-scope.html"/>
<link rel="import" href="/bower/iron-icon/iron-icon.html"/>

<dom-module id="hover-icon">
  <style is="custom-style">
    iron-icon.not-signed-in {
      opacity: .25;
    }
  </style>
  <template>
    <google-signin-aware scopes="{{scopes}}" signed-in="{{isSignedIn}}"></google-signin-aware>
    <iron-icon item-icon="{{itemIcon}}"
               class$="{{signedInClass}}"
               icon="{{composite}}"
               on-mouseover="_onMouseover"
               on-mouseleave="_onMouseout">
    </iron-icon>
  </template>

  <script>
    Polymer({
      is: 'hover-icon',
      behaviors: [rptools.GoogleScopeBehavior],
      properties: {
        itemIcon: Boolean,
        _hover: {
          type: Boolean,
          value: false
        },
        icon: {
          type: String,
          value: ''
        },
        hover: {
          type: String,
          value: ''
        },
        composite: {
          type: String,
          computed: 'getComposite(icon, hover, _hover)'
        },
        signedInClass: {
          type: String,
          computed: '_signedInClass(isSignedIn)'
        }
      },
      getComposite: function (icon, hover, _hover) {
        return (_hover && hover) ? hover : icon;
      },
      _isItemIcon: function () {
        return this.itemIcon ? 'item-icon' : '';
      },
      _onMouseout: function (event) {
        this._hover = false;
      },
      _onMouseover: function (event) {
        this._hover = true;
      },
      _signedInClass: function (isSignedIn) {
        return isSignedIn ? "" : "not-signed-in"
      }
    })
  </script>
</dom-module>