@font-face {
  font-family: BebasNeue;
  src: url("/fonts/BebasNeue Regular.otf") format("opentype"), url("/fonts/TTF/BebasNeue Regular.ttf") format("truetype");
}

@font-face {
  font-family: BebasNeueBold;
  src: url("/fonts/BebasNeue Bold.otf") format("opentype"), url("/fonts/TTF/BebasNeue Bold.ttf") format("truetype");
}

@mixin bebasFont($size, $weight) {
  font: {
    family: BebasNeue, sans-serif !important;
    size: $size !important;
    weight: $weight;
  }
}

body {
  height: 100%;
  letter-spacing: 1px;
  width: 100%;

  .mdl-card {
    min-height: inherit;
  }
}

.name-lists {
  .mdl-card__title-text {
    @include bebasFont(36px, bold);
  }

  .name-list {
    margin-top: 0;
    margin-bottom: 0;

    [input-strong] {
      @media (max-width: 769px) {
        @include bebasFont(20px, normal);
      }

      @media (min-width: 770px) {
        @include bebasFont(30px, normal);
      }
    }

    .name-line {
      color: inherit;
    }
  }

  .mdl-card__title {
    color: inherit;
  }
}

@media (max-width: 769px) {
  .name-learn button {
    font-size: 12px;
  }
}

.city-form {
  .mdl-card__title {
    color: inherit;
  }
}

.city-table {
  * {
    @include bebasFont(26px, normal);
  }

  td:first-child {
    vertical-align: top;
  }
}

.mdl-spinner {
  vertical-align: middle;
}

