@font-face {
  font-family: BebasNeue;
  src: url("/resources/fonts/BebasNeue Regular.otf") format("opentype"), url("/resources/fonts/TTF/BebasNeue Regular.ttf") format("truetype");
}

@font-face {
  font-family: BebasNeueBold;
  src: url("/resources/fonts/BebasNeue Bold.otf") format("opentype"), url("/resources/fonts/TTF/BebasNeue Bold.ttf") format("truetype");
}

@mixin bebasFont($size, $weight) {
  font: {
    family: BebasNeue, sans-serif;
    size: $size;
    weight: $weight;
  }
}

/* Common / Heading */

$off-white: #bfd8d2;
$white: #ffffff;
$grey: #777777;

$lavender: #c1b2c9;
$purple: #501168;

$teal: #34515a;

$tan: #bcbb48;
$yellow: #e8e74e;

body {
  background-color: $purple;
  color: $lavender;
  height: 100%;
  letter-spacing: 1px;
  width: 100%;
  @include bebasFont(30px, normal);
}

/* Nav bars / sub navs  */
.navbar {
  min-height: 0;
  z-index: 0;
}

.navbar,
.navbar-brand,
.navbar-brand:hover,
.navbar-nav,
.navbar-nav .dropdown-toggle {
  background-color: $lavender;
  color: $white;
  @include bebasFont(30px, normal);

  a[disabled] {
    cursor: no-drop;
  }

  .btn-sign-out, .btn-sign-in {
    background-color: $lavender;
    font-weight: normal;

    .google-icon {
      background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
  }
}

legend {
  border-bottom: none;
  color: $white;
  margin-bottom: 0;
  @include bebasFont(40px, normal);
}

a {
  color: inherit;
}

.label-input {
  background-color: $lavender;
  border-radius: 6px;
  margin-bottom: 0;
  width: 100%;
  @include bebasFont(30px, normal);

  label {
    color: $purple;
    @include bebasFont(26px, normal);
  }

  input {
    border-width: 0;
    color: $purple;
    outline: none;
    -webkit-box-shadow: none;
    @include bebasFont(26px, normal);
  }

  & > div.row {
    padding-bottom: 0;
  }

  & > * {
    background-color: $lavender;
    border-radius: 6px;
    float: inherit;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: $purple;
  opacity: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.row {
  padding-bottom: 20px;
}

.btn {
  border: 0 none;
  letter-spacing: 2px;
  outline: none;
  @include bebasFont(26px, bold);
}

.btn-group-vertical {
  width: 100%;
}

.signout, .signin {
  font-weight: bold;
  z-index: 1;
}

.generate-button {
  background-color: $off-white;
  color: $purple;

  &:hover {
    color: $off-white;
    background-color: $teal;
    border-color: $teal;
    outline-color: $teal !important;
  }
}

.loading {
  margin-top: 10px;
}

.float-right {
  float: right;
}

/* Alerts */

.alert {
  background-color: $lavender;
  overflow: auto;
  padding: 0;
  border: {
    color: $lavender;
    radius: 5px;
  }

  strong,
  strong i {
    border-radius: 7px;
    color: $purple;
    padding: 5px 4px;
    @include bebasFont(28px, bold);
  }

  .name-line {
    padding-top: 5px;
    cursor: pointer;

    &:hover {
      color: grey;
      background-color: $off-white;
    }
  }

  input {
    height: 40px;
    @include bebasFont(28px, normal);
  }

  .btn {
    color: $purple;
    background-color: inherit;
    outline: none;
    border: none inherit;

    &:hover {
      color: $white;
      outline: none;
      border: none;
    }
  }

  &.stored {
    background-color: $tan;
    border-color: $tan;

    .name-line:hover {
      background-color: $yellow;
    }
  }
}

/* Page Specific */

.content {
  table tbody tr:nth-child(odd) {
    color: $purple;
  }

  table th:first-child,
  table td:first-child {
    width: 20%;
  }

  table th:last-child,
  table td:last-child {
    width: 10%;
  }

  .panel-title a {
    width: 100%;
  }

  label input[type=radio] {
    display: none;
  }

  city-form {
    .panel-title a {
      @include bebasFont(26px, bold);
    }

    label.btn {
      @include bebasFont(20px, normal);
    }
  }

  city {
    th {
      @include bebasFont(22px, bold);
    }

    td {
      @include bebasFont(22px, normal);
    }

    * {
      white-space: nowrap;
    }
  }
}
