<dom-module id="rp-character">
  <style is="custom-style">
  </style>
  <template>

  </template>
  <script>
    Polymer({
      id: 'rp-character',
      properties: {
        columns: Array,
        editing: Boolean,
        armorClass: {
          type: Number,
          notify: true
        },
        initiative: {
          type: Number,
          notify: true
        },
        passivePerception: {
          type: Number,
          notify: true
        },
        passiveInsight: {
          type: Number,
          notify: true
        },
        currentHitPoints: {
          type: Number,
          notify: true
        },
        totalHitPoints: {
          type: Number,
          notify: true
        }
      }
    })
  </script>
</dom-module>