<link rel="import" href="./table-card.html"/>
<link rel="import" href="../dark-theme.html"/>
<link rel="import" href="../behavior/uuid-behavior.html"/>
<link rel="import" href="/bower/iron-ajax/iron-ajax.html"/>
<link rel="import" href="/bower/iron-collapse/iron-collapse.html"/>
<link rel="import" href="/bower/iron-icon/iron-icon.html"/>
<link rel="import" href="/bower/iron-icons/iron-icons.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout-classes.html"/>
<link rel="import" href="/bower/paper-fab/paper-fab.html">
<link rel="import" href="/bower/paper-button/paper-button.html">
<link rel="import" href="/bower/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower/paper-card/paper-card.html">
<link rel="import" href="/bower/paper-tooltip/paper-tooltip.html">

<dom-module id="table-page">
  <style is="custom-style" include="iron-flex dark-theme">
    :host {
      --paper-button: {
        color: var(--light-theme-text-color);
        font-weight: bold;
      };
    }

    :host ::content table-card.pending {
      --paper-input-container-focus-color: var(--light-theme-text-color);
      --iron-icon-fill-color: var(--light-theme-text-color);
      color: var(--light-theme-text-color);
    }

    :host paper-button.dismiss {
      background-color: var(--light-theme-secondary-color);
    }

    :host paper-button.secondary {
      background-color: var(--light-accent-color);
    }

    :host paper-button.primary {
      background-color: var(--dark-accent-color);
    }

    :host paper-fab {
      margin: 8px 8px;
    }
  </style>
  <template>
    <iron-ajax auto id="inns" url="/city/generate" params="{{generateParams}}"
               on-response="setTableNames"></iron-ajax>
    <div class="vertical layout">
      <div class="horizontal layout">
        <paper-fab id="new-table-fab" icon="add" on-tap="newTable"></paper-fab>
        <paper-tooltip for="new-table-fab">New table</paper-tooltip>
      </div>

      <template is="dom-if" if="{{pendingTable.name}}">
        <table-card id="pending" class="flex pending"
                    editing="true"
                    table="{{pendingTable}}"
                    unsaved="{{pendingUnsaved}}"
                    on-save-table="saveTable"></table-card>
      </template>
      <template is="dom-if" if="{{savedTables}}">
        <template is="dom-repeat" items="{{savedTables}}">
          <template is="dom-if" if="{{notEditing(item, pendingTable)}}">
            <table-card class="dark flex"
                        table="{{item}}"
                        on-delete-table="deleteTable"
                        on-edit-table="editTable"></table-card>
          </template>
        </template>
      </template>
    </div>
    <paper-dialog id="createDialog" on-iron-overlay-canceled="clearTableToEdit">
      <h2>Overwrite current table?</h2>
      <div>
        Your current table has unsaved changes.<br/>
        To discard pending changes, click Discard.<br/>
        To save changes first, click Save.<br/>
        <div class="buttons">
          <paper-button raised dialog-dismiss class="dismiss">Cancel</paper-button>
          <paper-button raised dialog-confirm class="secondary" on-tap="discardAndEdit">Discard
          </paper-button>
          <paper-button raised dialog-confirm class="primary" on-tap="saveAndEdit">Save
          </paper-button>
        </div>
      </div>
    </paper-dialog>
  </template>

  <script>
    Polymer({
      id: 'table-page',
      behaviors: [rptools.UUIDBehavior],
      properties: {
        pendingUnsaved: Boolean,
        tableNames: Array,
        down: {
          type: String,
          value: "hardware:keyboard-arrow-down"
        },
        up: {
          type: String,
          value: "hardware:keyboard-arrow-up"
        },
        pendingTable: {
          type: Object,
          value: function () {
            return {};
          }
        },
        savedTables: {
          type: Object,
          notify: true,
          value: function () {
            return [];
          }
        },
        generateParams: {
          type: Object,
          value: function () {
            return {
              size: 100
            };
          }
        }
      },
      observers: [
        '_refreshTableNamesOnEmpty(tableNames.splices)'
      ],
      _newTable: function () {
        this.set('pendingTable', {
          name: this.shift('tableNames'),
          id: null,
          characters: []
        });
        this.pendingUnsaved = true;
      },
      _refreshTableNamesOnEmpty: function () {
        if (this.tableNames.length == 0) {
          this.$.inns.generateRequest();
        }
      },
      clearTableToEdit: function () {
        delete this.tableToEdit;
      },
      deleteTable: function (event) {
        this.splice('savedTables', this.savedTables.indexOf(event.model.item), 1);
      },
      editTable: function (event) {
        if (this.pendingUnsaved) {
          if (this.pendingTable.id == event.model.item.id) {
            return;
          }
          this.$.createDialog.open();
          this.tableToEdit = event.model.item;
        } else {
          this.set('pendingTable', event.model.item);
        }
      },
      newTable: function () {
        if (this.pendingUnsaved) {
          this.$.createDialog.open();
          return;
        }
        this._newTable();
      },
      notEditing: function (table, pendingTable) {
        return table != pendingTable;
      },
      discardAndEdit: function () {
        if (this.tableToEdit) {
          this.set('pendingTable', this.tableToEdit);
          this.clearTableToEdit();
        } else {
          this._newTable();
        }
      },
      saveTable: function () {
        var tableToSave;
        if (this.pendingTable.id) {
          tableToSave = this.splice('savedTables',
              this.savedTables.indexOf(this.pendingTable), 1)[0];
        } else {
          this.pendingTable.id = this.uuid();
          tableToSave = this.pendingTable;
        }
        this.unshift('savedTables', tableToSave);
      },
      saveAndEdit: function () {
        this.saveTable();
        this.discardAndEdit();
      },
      setTableNames: function (err, request) {
        this.tableNames = request.response.inns;
      },
      toggleMenu: function () {
        this.$.menu.toggle();
        if (this.$.menu.opened) {
          this.$['menu-icon'].icon = this.up;
        } else {
          this.$['menu-icon'].icon = this.down;
        }
      }
    })
  </script>
</dom-module>