<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>dzlier_rptools.server</id>
            <username>dzlier</username>
            <password>created by dzlier on 04/12/2016 {LW664YZ0tIgHB9nMww5KPsNRIaUneS8F/8fq8hSYeC0=}</password>
        </server>
    </servers>
</settings>