<link rel="import" href="npc-card.html">
<link rel="import" href="../dark-theme.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower/paper-button/paper-button.html">
<link rel="import" href="/bower/paper-card/paper-card.html">
<link rel="import" href="/bower/paper-item/paper-item.html">
<link rel="import" href="/bower/paper-item/paper-item-body.html">
<link rel="import" href="/bower/paper-listbox/paper-listbox.html">

<dom-module id="npc-page">
  <template>
    <style include="dark-theme iron-flex iron-flex-alignment">
      :host ::content .title-text {
        --paper-input-container-input: {
          font-size: 24px;
        };
      }
    </style>
    <iron-ajax id="getnames" url="/name/generate" params="{{getNamesParams}}"
               on-response="setNPCNames"></iron-ajax>
    <div class="vertical layout start">
      <paper-button on-tap="generateNPC">Generate</paper-button>
      <div class$="[[layoutClass(pageColumns)]] layout wrap">
        <npc-card id="generated" hidden
                  npc="{{generatedNPC}}"
                  main-icon="star-border"
                  names="{{names}}"
                  scopes="[[scopes]]"
                  character-tables="[[characterTables]]"
                  ideals-tables="[[idealsTables]]"
                  npc-tables="[[npcTables]]"
                  on-primary-tap="saveNPC"></npc-card>
        <template is="dom-repeat" items="{{npcs}}">
          <npc-card class="dark"
                    npc="{{item}}"
                    names="{{names}}"
                    character-tables="[[characterTables]]"
                    ideals-tables="[[idealsTables]]"
                    npc-tables="[[npcTables]]"
                    scopes="[[scopes]]"
                    on-primary-tap="removeNPC"></npc-card>
        </template>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'npc-page',
      behaviors: [rptools.TableRollBehavior],
      properties: {
        pageColumns: Number,
        scopes: String,
        generatedNPC: {
          type: Object
        },
        getNamesParams: {
          type: Object,
          value: {num: 100}
        },
        names: {
          type: Array,
          value: []
        },
        npcs: {
          type: Array,
          value: [],
          notify: true
        },
        characterTables: {
          type: Object,
          computed: 'getTableSet(tables, "Characters")'
        },
        idealsTables: {
          type: Object,
          computed: 'getTableSet(tables, "Ideals")'
        },
        npcTables: {
          type: Object,
          computed: 'getTableSet(tables, "NPC")'
        }
      },
      observers: [
        'refreshNamesOnEmpty(names.splices)'
      ],
      setNPCNames: function (event, request) {
        this.set('names', request.response.data);
      },
      refreshNamesOnEmpty: function () {
        if (this.names.length == 0) {
          this.$.getnames.generateRequest();
        }
      },
      generateNPC: function (event) {
        this.$.generated.generate();
        if (event.detail.npcName) {
          this.$.generated.set('npc.name', event.detail.npcName);
        }
        this.$.generated.hidden = false;
      },
      layoutClass: function (columns) {
        return columns == 12 ? 'horizontal' : 'vertical';
      },
      removeNPC: function (event) {
        var index = this.npcs.indexOf(event.target.npc);
        if (index >= 0) {
          this.splice('npcs', index, 1);
        }
      },
      saveNPC: function () {
        this.unshift('npcs', this.$.generated.npc);
        this.$.generated.set('npc', {});
        this.$.generated.hidden = true;
      }
    })
  </script>
</dom-module>