<div class="name-lists mdl-grid">
    <div [class]="materials.cellClass({d: 5, t: 3, p: 4}, {a:0}, 'mdl-color-text--primary-contrast')"
         [hidden]="!userData.generatedNames[0]">
        <div [class]="materials.cardClass({section:'title', main:'primary-dark'}, 'name-title')">
            <h2 class="mdl-card__title-text">Generated Names</h2>
        </div>
        <ul [class]="generatedActionsClass">
            <li class="mdl-list__item name-line" *ngFor="#name of userData.generatedNames"
                [dz-generated-name]="name" dz-name-line>
            </li>
        </ul>
    </div>
    <div [class]="materials.cardClass({a:1}, materials.cellClass({d: 5, t: 3, p: 4}))"
         [ngClass]="savedNameOffsets()" [hidden]="!userData.savedNames[0]">
        <div [class]="materials.cardClass({section:'title', main:'accent', text:'accent-contrast'})">
            <h2 class="mdl-card__title-text">Saved Names</h2>
        </div>
        <ul [class]="materials.cardClass({section:'title', main:'accent'}, 'mdl-list name-list')">
            <li class="mdl-list__item mdl-color-text--accent-contrast" *ngFor="#name of userData.savedNames"
                [dz-saved-name]="name" dz-name-line>
            </li>
        </ul>
    </div>
</div>