<link rel="import" href="../util/editing-item.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout-classes.html"/>
<link rel="import" href="/bower/paper-item/paper-icon-item.html"/>

<dom-module id="name-line">
  <style is="custom-style" include="iron-flex">
    :host ::content iron-icon {
      opacity: .5;
    }

    :host ::content editing-item paper-input paper-input-container div.underline .unfocused-line {
      display: none;
    }
  </style>
  <template>
    <paper-icon-item class="layout horizontal">
      <hover-icon item-icon id="icon" icon="{{prim}}" hover="{{primHover}}" on-tap="_doPrimary"></hover-icon>
      <editing-item id="editor" class="flex" item="{{name.text}}" editing="{{editing}}"></editing-item>
    </paper-icon-item>
  </template>

  <script>
    Polymer({
      is: 'name-line',
      properties: {
        prim: String,
        primHover: String,
        name: {
          type: Object,
          notify: true
        }
      },
      ready: function () {
        this.editor = this.$.editor;
      },
      _doPrimary: function () {
        this.fire('name-primary-tap');
      },
      _doneEditing: function () {
        this.$.editor.doneEditing();
      },
      _startEditing: function (event) {
        this.$.editor.startEditing();
      }
    });
  </script>
</dom-module>


