<form cell=12 mdl-card="primary" content-color="primary">
    <div card-title>Name Generator</div>
    <div mdl-grid card-actions cell=12>
        <input cell=2 class="mdl-textfield__input mdl-textfield--expandable" type="number" id="num"
               [(ngModel)]=numNames placeholder='How Many? (10)'/>
        <button mdl-btn cell=2 d-o=1 t-o=1 (click)=generate(numNames)>
            <span *ngIf="!userData.generating">Generate</span>
            <mdl-spinner [show]=userData.generating></mdl-spinner>
        </button>
    </div>
</form>