<link rel="import" href="name-line.html"/>
<link rel="import" href="../dark-theme.html"/>
<link rel="import" href="../util/hover-icon.html"/>
<link rel="import" href="../behavior/uuid-behavior.html"/>
<link rel="import" href="/bower/paper-button/paper-button.html"/>
<link rel="import" href="/bower/paper-card/paper-card.html"/>
<link rel="import" href="/bower/paper-input/paper-input.html"/>
<link rel="import" href="/bower/paper-item/paper-item.html"/>
<link rel="import" href="/bower/paper-menu/paper-menu.html"/>
<link rel="import" href="/bower/iron-ajax/iron-ajax.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="name-page">
  <template>
    <style is="custom-style" include="dark-theme iron-flex iron-flex-alignment">
      :host ::content .generated name-line {
        --paper-input-container-focus-color: var(--light-theme-text-color);
      }

      :host ::content iron-icon {
        opacity: .5;
      }

      :host ::content editing-item paper-input paper-input-container div.underline .unfocused-line {
        display: none;
      }

      :host paper-menu.generate-menu {
        margin: 10px 10px;
      }

      :host paper-card.generated {
        /*color: var(--light-theme-text-color);*/
        /*margin-bottom: 10px;*/
      }

      :host paper-card.generated .card-content input {
        color: var(--light-theme-text-color);
      }
    </style>
    <iron-ajax id="generate" url="/name/generate" params="{{generateParams(numNames)}}"
               on-response="populateNames"></iron-ajax>
    <div class="around-justified vertical layout">
      <paper-card class="flex self-start">
        <paper-menu class="generate-menu">
          <div class="horizontal layout">
            <paper-input label="How Many? (10)" type="Number" value="{{numNames}}"
                         no-label-float="true"></paper-input>
            <paper-button raised class="generate-button" on-tap="generateNames">Generate
            </paper-button>
            <div class="flex"></div>
          </div>
        </paper-menu>
      </paper-card>

      <div class$="{{_layoutClass(columns)}}">
        <div class="flex layout vertical">
          <template is="dom-if" if="{{generatedNames}}">
            <paper-card class="generated" heading="Generated Names">
              <div class="card-content">
                <template is="dom-repeat" items="{{generatedNames}}">
                  <paper-icon-item class="layout horizontal">
                    <hover-icon item-icon icon="star-border" hover="star"
                                on-tap="addName"></hover-icon>
                    <editing-item class="flex" item="{{item}}"></editing-item>
                  </paper-icon-item>
                </template>
              </div>
            </paper-card>
          </template>
        </div>
        <div class="flex layout vertical">
          <template is="dom-if" if="{{savedNames.length}}">
            <paper-card class="dark saved" heading="Saved Names">
              <div class="card-content">
                <template is="dom-repeat" items="{{savedNames}}">
                  <paper-icon-item class="layout horizontal">
                    <hover-icon item-icon icon="delete" on-tap="removeName"></hover-icon>
                    <editing-item class="flex" item="{{item.text}}"></editing-item>
                  </paper-icon-item>
                </template>
              </div>
            </paper-card>
          </template>
        </div>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'name-page',
      behaviors: [rptools.UUIDBehavior],
      properties: {
        columns: Number,
        isSignedIn: Boolean,
        generatedNames: {
          type: Array
        },
        numNames: {
          type: Number
        },
        savedNames: {
          type: Array,
          notify: true
        }
      },
      _layoutClass: function (columns) {
        return columns == 12 ? 'horizontal layout start' : '';
      },
      generateNames: function () {
        this.$.generate.generateRequest();
      },
      generateParams: function (numNames) {
        return {num: numNames || 10};
      },
      populateNames: function (event, request) {
        this.generatedNames = request.response.data;
      },
      addName: function (event) {
        if (!this.isSignedIn) {
          return;
        }
        this.push('savedNames', {
          text: event.model.item,
          id: this.uuid()
        });
      },
      removeName: function (event) {
        var index = this.savedNames.indexOf(event.model.item);
        if (event.model.item.id && index > -1) {
          this.splice('savedNames', index, 1);
        }
      }
    });
  </script>
</dom-module>


