<link rel="import" href="/bower/paper-card/paper-card.html"/>
<link rel="import" href="/bower/paper-input/paper-input.html"/>
<link rel="import" href="/bower/paper-button/paper-button.html"/>
<link rel="import" href="/bower/paper-material/paper-material.html"/>

<dom-module id="name-form">
  <template>
    <!--<paper-material>-->
      <paper-card elevation=0 heading="Name Generator" class="purple">
        <div class="card-content">
          <paper-input label="How Many? (10)" type="Number" value="{{numNames}}"></paper-input>
          <paper-button raised>Generate</paper-button>
        </div>
        <!--<div class="card-actions">-->
        <!--</div>-->
      </paper-card>
    <!--</paper-material>-->
  </template>

  <script>
    Polymer({
      is: 'name-form',
      properties: {
        page: {
          type: Number,
          value: 0
        },
        numNames: {
          type: Number,
          notify: true
        }
      }
    });
  </script>
</dom-module>


