<form class="form-inline">
    <fieldset>
        <div class="row">
            <div class="col-xs-6">
                <legend>
                    Name Generator <strong (mouseover)="footer = true" (mouseleave)="footer = false">*</strong>
                </legend>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="label-input form-group">
                            <label for="num" class="col-xs-7">How Many?</label>
                            <input id="num" type='text' class='col-xs-4 input-lg' [(ngModel)]="numNames"
                                   placeholder='10'/>
                        </div>
                    </div>
                    <div class="col-xs-3 col-xs-offset-1">
                        <button class="btn generate-button float-right" (click)='generate(numNames)'>
                            <span>Generate</span>
                        </button>
                    </div>
                </div>
            </div>
            <img class="loading" *ngIf="userContent.generating" src="resources/static/loading.gif"
                 height="30px" width="30px">
        </div>
    </fieldset>
</form>