<link rel="import" href="/bower/paper-datatable/paper-datatable.html">
<link rel="import" href="/bower/paper-datatable/paper-datatable-column.html">

<dom-module is="rptools-table">
  <template>
    <div class="flex">
      <template is="dom-if" if="{{table.isParent}}">
        <template is="dom-repeat" items="{{table.tables}}" index-as="subindex">
          <rptools-table table="{{item}}" roll="{{roll}}"></rptools-table>
        </template>
      </template>
      <paper-datatable hidden id="table" data="{{table.entries}}">
        <paper-datatable-column id="roll-column" header="Roll" property="Roll"></paper-datatable-column>
        <template is="dom-repeat" items="{{table.columns}}" as="column">
          <paper-datatable-column header="{{column}}" property="{{column}}"></paper-datatable-column>
        </template>
      </paper-datatable>
    </div>
  </template>

  <script>
    Polymer({
      is: 'rptools-table',
      properties: {
        roll: Number,
        table: {
          type: Object,
          value: {}
        }
      },
      ready: function () {
        this.table.datatable = this;
      },
      selectRandom: function (event) {
        this.roll = Math.floor(Math.random() * this.table.maxRoll);
        var ind = this.roll;
        var i = 0;
        var entry;
        while(ind >= 0) {
          entry = this.table.entries[i++];
          ind -= entry.weight;
        }
        this.$.table.select(entry);
      },
      show: function (show) {
        this.$.table.hidden = !show;
      }
    });
  </script>
</dom-module>