<link rel="import" href="/bower/iron-ajax/iron-ajax.html">

<dom-module id="table-retriever">
  <template>
    <iron-ajax auto id="tables" url="{{url}}" on-response="list" handle-as="document"></iron-ajax>
  </template>

  <script>
    Polymer({
      is: 'table-retriever',
      properties: {
        hrefRegex: {
          type: RegExp,
          value: new RegExp("\/data\/tables\/(?:(.*)\/)?(?:([A-Za-z0-9]+)\.txt)?$")
        },
        nameFormatRegex: {
          type: RegExp,
          value: new RegExp("[a-z]([A-Z])", "g")
        },
        selected: {
          type: Number,
          value: 0
        },
        tablePath: {
          type: String
        },
        tables: {
          type: Array,
          value: [],
          notifies: true
        },
        tableSubdirectories: {
          type: Array,
          value: []
        },
        url: {
          type: String
        }
      },

      formatName: function (name) {
        var wordBreaks;
        // replace numerals at beginning of table name, used for ordering entries
        name = name.replace("^[0-9]*", "");
        while ((wordBreaks = this.nameFormatRegex.exec(name))) {
          name = name.replace(wordBreaks[0], wordBreaks[0].replace(/([A-Z])/, " $1"));
        }
        return name;
      },

      getLinks: function (response) {
        return Polymer.dom(response).querySelectorAll('a[href^="/data/tables/"]').map(
            function (el) {
              return el.href;
            });
      },

      list: function (event) {
        var tables = this.tables;
        if (this.tablePath) {
          var newGroup = {
            name: this.formatName(this.tablePath),
            isParent: true,
            tables: []
          };
          this.push('tables', newGroup);
          tables = newGroup.tables;
          this.selected++;
        }

        var links = this.getLinks(event.detail.response);

        // record each file as a table with parsed name, recursively add each subdirectory
        links.forEach(function (url) {
          var matches = this.hrefRegex.exec(url);
          if (!matches) {
            return;
          }
          var path = matches[1];
          var name = matches[2];
          if (name) {
            name = this.formatName(name);

            var tablePath = 'tables';
            if (this.tablePath) {
              tablePath += '.' + this.selected + '.tables';
            }

            this.push(tablePath, {
              name: name,
              url: url
            });
          } else if (path) {
            this.tableSubdirectories.push({
              path: path.replace(/\//g, '.'),
              url: url
            });
          }
        }.bind(this));
        if (this.tableSubdirectories.length > 0) {
          var table = this.tableSubdirectories.shift();
          this.set('tablePath', table.path);
          this.set('url', table.url);
        }
      }
    });
  </script>
</dom-module>
