<table class='table table-bordered table-striped col-xs-6' ng-show="city.name">
    <thead>
    <tr>
        <th>Name:</th>
        <th><strong>{{city.name}}</strong></th>
        <th><a type='button' class='btn btn-default btn-sm' ng-click="getNew('name')">
            <span class='glyphicon glyphicon-refresh'></span>
        </a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ruler:</td>
        <td><span>{{city.ruler}}</span></td>
        <td>
            <button type='button' class='btn btn-default btn-sm' ng-click="getNew('ruler')">
                <span class='glyphicon glyphicon-refresh'></span>
            </button>
        </td>
    </tr>
    <tr>
        <td>Population:</td>
        <td>
            <strong>{{city.population.tot}} (Search Mod: {{city.population.searchMod}})</strong><br/>
            <span ng-repeat="rp in city.population.people|orderBy:population">{{rp.race}} {{rp.population}}<br></span></td>
        <td><button type='button' class='btn btn-default btn-sm' ng-click="getNew('population')">
            <span class='glyphicon glyphicon-refresh'></span>
        </button></td>
    </tr>
    <tr>
        <td>Inns/Shoppes:</td>
        <td><span ng-repeat="inn in city.inns">{{inn}}<br/></span></td>
        <td>
            <button type='button' class='btn btn-default btn-sm' ng-click="getNew('inns')">
                <span class='glyphicon glyphicon-refresh'></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<!--<div class="row">
    <a type="button" class="btn btn-primary" ng-click="saveCity()" ng-show="city">Save City</a>
</div>-->
