<dom-module id="dark-theme">
  <template>
    <style is="custom-style">
      .dark {
        --primary-color: var(--dark-primary-color);
        --primary-text-color: var(--dark-theme-text-color);
        --primary-background-color: var(--dark-theme-background-color);
        --secondary-text-color: var(--dark-theme-secondary-color);
        --divider-color: var(--dark-theme-divider-color);

        --paper-card-header-color: var(--dark-theme-text-color);
      }

      :host ::content .dark paper-input .input-content .paper-input-container input,
      :host ::content .dark paper-icon-item {
        color: var(--dark-theme-text-color);
      }
    </style>
  </template>
</dom-module>