<link rel="import" href="./city/city-page.html">
<link rel="import" href="./name/name-page.html">
<link rel="import" href="./party/party-page.html">
<link rel="import" href="./tables/tables-page.html">
<link rel="import" href="./util/variable-layout.html">
<link rel="import" href="./behavior/google-scope.html">
<link rel="import" href="/bower/app-route/app-location.html">
<link rel="import" href="/bower/app-route/app-route.html">
<link rel="import" href="/bower/google-apis/google-client-loader.html">
<link rel="import" href="/bower/google-apis/google-js-api.html">
<link rel="import" href="/bower/google-signin/google-signin.html">
<link rel="import" href="/bower/iron-ajax/iron-ajax.html"/>
<link rel="import" href="/bower/iron-icon/iron-icon.html">
<link rel="import" href="/bower/iron-icons/iron-icons.html">
<link rel="import" href="/bower/iron-icons/social-icons.html">
<link rel="import" href="/bower/iron-media-query/iron-media-query.html">
<link rel="import" href="/bower/iron-pages/iron-pages.html">
<link rel="import" href="/bower/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="/bower/paper-header-panel/paper-header-panel.html">
<link rel="import" href="/bower/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower/paper-item/paper-icon-item.html">
<link rel="import" href="/bower/paper-menu/paper-menu.html"/>
<link rel="import" href="/bower/paper-toast/paper-toast.html">
<link rel="import" href="/bower/paper-toolbar/paper-toolbar.html">

<dom-module id="rptools-app">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment">
      :host ::content paper-menu {
        margin: 8px 8px;
      }

      :host ::content [drawer] paper-menu {
        margin: 0;
      }

      :host ::content [drawer] paper-menu paper-icon-item {
        cursor: pointer;
      }

      :host ::content paper-button {
        background-color: var(--accent-color);
        color: var(--light-theme-text-color);
      }

      @media (max-width: 480px) {
        ::content .layout > [class^="flex-"],
        ::content .layout > .flex {
          margin: 8px 8px;
        }
      }

      :host app-header-layout {
        margin-bottom: 10px;
      }

      :host iron-pages {
        margin: 8px 8px;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{location}}"></app-route>
    <google-client-loader id="drive"
                          name="drive"
                          version="v3"
                          on-google-api-load="downloadAppDataFile"></google-client-loader>
    <google-js-api id="gapi"></google-js-api>
    <iron-ajax auto id="tables" url="/data/tables/" on-response="listTables"
               handle-as="document"></iron-ajax>
    <paper-drawer-panel id="drawer" responsive-width="840px">
      <paper-header-panel drawer mode="seamed">
        <paper-toolbar>
          <google-signin client-id="{{clientId}}" scopes="{{scopes}}"></google-signin>
        </paper-toolbar>
        <paper-menu selected="{{location.page}}" attr-for-selected="name">
          <paper-icon-item name="name" on-tap="closeDrawer">
            <iron-icon item-icon icon="social:person"></iron-icon>
            Name Generator
          </paper-icon-item>
          <paper-icon-item name="city" on-tap="closeDrawer">
            <iron-icon item-icon icon="social:location-city"></iron-icon>
            City Generator
          </paper-icon-item>
          <paper-icon-item name="party" on-tap="closeDrawer">
            <iron-icon item-icon icon="social:group"></iron-icon>
            Party Tracker
          </paper-icon-item>
          <paper-icon-item name="tables" on-tap="closeDrawer">
            <iron-icon item-icon icon="icons:list"></iron-icon>
            Tables
          </paper-icon-item>
        </paper-menu>
      </paper-header-panel>
      <paper-header-panel main mode="scroll">
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <h2>{{pageName(location.page)}}</h2>
        </paper-toolbar>
        <iron-pages selected="{{location.page}}" attr-for-selected="name">
          <name-page name="name"
                     is-signed-in="{{isSignedIn}}"
                     saved-names="{{userSavedContent.names}}"
                     columns="{{columns}}"></name-page>
          <city-page name="city" races="{{races}}"
                     is-signed-in="{{isSignedIn}}"
                     saved-cities="{{userSavedContent.cities}}"
                     columns="{{columns}}"></city-page>
          <party-page name="party" saved-parties="{{userSavedContent.parties}}"></party-page>
          <tables-page id="tables-page" name="tables"></tables-page>
        </iron-pages>
      </paper-header-panel>
    </paper-drawer-panel>
    <paper-toast id="savesuccess" text="User content saved!"></paper-toast>
    <variable-layout columns="{{columns}}"></variable-layout>
  </template>

  <script>
    Polymer({
      is: 'rptools-app',
      behaviors: [rptools.GoogleScopeBehavior],
      properties: {
        columns: Number,
        races: Array,
        userSavedContent: Object,
        appDataFileMetadata: {
          type: Object,
          value: {
            name: 'content.json',
            parents: ['appDataFolder']
          }
        },
        clientId: {
          type: String,
          value: '455791253437-tbh3r1rc5lg720tnfrlfbi5cm7n5rvm4.apps.googleusercontent.com'
        },
        isSignedIn: {
          type: Boolean,
          value: false
        },
        listening: {
          type: Boolean,
          value: false
        },
        nameFormatRegex: {
          type: RegExp,
          value: new RegExp("[a-z]([A-Z])", "g")
        },
        scopes: {
          type: String,
          value: 'https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.appdata'
        },
        tables: {
          type: Array,
          value: []
        },
        tableSubdirectories: {
          type: Array,
          value: []
        }
      },
      listeners: {
        'google-signin-success': 'userSignedIn',
        'google-signed-out': 'userSignedOut'
      },
      observers: [
        'contentUpdated(userSavedContent.names.*)',
        'contentUpdated(userSavedContent.cities.*)',
        'contentUpdated(userSavedContent.names.splices)',
        'contentUpdated(userSavedContent.cities.splices)',
        'contentUpdated(userSavedContent.parties.splices)'
      ],
      ready: function () {
        if (this.$.gapi.api && !this.$.drive.api) {
          this.$.drive._loadClient();
        }
      },
      get updateRequestParams() {
        return {
          path: '/upload/drive/v3/files/' + this.appDataFileMetadata.id,
          method: 'PATCH',
          params: {
            uploadType: 'media',
            alt: 'json'
          },
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(this.userSavedContent)
        }
      },
      closeDrawer: function () {
        this.$.drawer.closeDrawer();
      },
      pageName: function (page) {
        switch (page) {
          default:
          case 'name':
            return 'Name Generator';
          case 'city':
            return 'City Generator';
          case 'party':
            return 'Party Tracker';
          case 'tables':
            return 'DMG Tables'
        }
      },
      contentUpdated: function () {
        if (!this.listening || !this.isSignedIn) {
          return;
        }
        this.$.gapi.api.client.request(this.updateRequestParams).execute();
        this.$.savesuccess.open();
      },
      userSignedIn: function () {
        this.isSignedIn = true;
        if (this.$.drive.api) {
          this.downloadAppDataFile();
        }
      },
      userSignedOut: function (e) {
        this.isSignedIn = false;
        this.userSavedContent = {};
      },

      // google drive interaction functions/callbacks
      downloadAppDataFile: function () {
        if (!this.isSignedIn) {
          return;
        }
        if (!this.files) {
          this.files = this.$.drive.api.files;
        }

        this.files.list({
          spaces: 'appDataFolder',
          fields: 'files(id,modifiedTime,name,properties)'
        }).then(this.listAppDataFilesCallback.bind(this));
      },

      /* drive callback methods */
      listAppDataFilesCallback: function (response) {
        if (response.result.files.length == 0) {
          this.files.create({
            resource: this.appDataFileMetadata,
            fields: 'id'
          }, '{}').then(this.createAppDataFileCallback.bind(this));
        } else {
          this.appDataFileMetadata.id = response.result.files[0].id;
          this.files.get({
            fileId: this.appDataFileMetadata.id,
            alt: 'media'
          }).then(this.getAppDataFileCallback.bind(this));
        }
      },
      createAppDataFileCallback: function (response) {
        this.appDataFileMetadata.id = response.result.id;
        this.userSavedContent = {
          names: [],
          cities: [],
          parties: []
        };
        this.listening = true;
      },
      getAppDataFileCallback: function (response) {
        if (response.status == 200) {
          if (response.result) {
            this.userSavedContent = response.result;
            ['names', 'cities', 'parties'].forEach(function (attr) {
              this.userSavedContent[attr] = this.userSavedContent[attr] || [];
            }.bind(this));
          } else {
            this.userSavedContent = {
              names: [],
              cities: [],
              parties: []
            };
          }
          this.listening = true;
        }
      },

      _formatName: function(name) {
        var wordBreaks;
        while ((wordBreaks = this.nameFormatRegex.exec(name))) {
          name = name.replace(wordBreaks[0], wordBreaks[0].replace(/([A-Z])/, " $1"));
        }
        return name;
      },

      // DMG tables stuff
      listTables: function (event) {
        var hrefs = Polymer.dom(event.detail.response).querySelectorAll('a[href^="/data/tables/"]').map(function (el) {
          return el.href;
        });

        var tables = this.tables;
        var tablesPath = this.$.tables.tablesPath;
        if (tablesPath) {
          var newGroup = {
            name: this._formatName(tablesPath),
            isParent: true,
            tables: []
          };
          tables.push(newGroup);
          tables = newGroup.tables;
        }

        // record each file as a table with parsed name, recursively add each subdirectory
        hrefs.forEach(function (href) {
          var matches = href.match(/\/data\/tables\/(?:(.*)\/)?(?:([A-Za-z0-9]+)\.txt)?$/);
          var path = matches[1];
          var name = matches[2];
          if (name) {
            name = this._formatName(name);

            tables.push({
              name: name,
              href: href
            });
          } else if (path) {
            this.tableSubdirectories.push({
              path: path.replace(/\//g, '.'),
              href: href
            });
          }
        }.bind(this));
        if (this.tableSubdirectories.length > 0) {
          var table = this.tableSubdirectories.pop();
          this.$.tables.tablesPath = table.path;
          this.$.tables.url = table.href;
        } else {
          this.$['tables-page'].set('tables', this.tables);
        }
      }
    });
  </script>

</dom-module>
