<link rel="import" href="../dark-theme.html">
<link rel="import" href="../util/editing-item.html">
<link rel="import" href="../util/toggle-collapse.html">
<link rel="import" href="/bower/google-signin/google-signin-aware.html">
<link rel="import" href="/bower/iron-collapse/iron-collapse.html">
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower/iron-icon/iron-icon.html">
<link rel="import" href="/bower/iron-icons/hardware-icons.html">
<link rel="import" href="/bower/paper-card/paper-card.html">
<link rel="import" href="/bower/paper-item/paper-item.html">
<link rel="import" href="/bower/paper-item/paper-icon-item.html">

<dom-module id="city-card">
  <template>
    <style is="custom-style" include="dark-theme iron-flex iron-flex-alignment">
      :host ::content iron-icon {
        padding-left: -16px;
        margin-right: 16px;
      }

      :host iron-icon.not-signed-in {
        opacity: .25;
      }
    </style>

    <google-signin-aware scopes="{{scopes}}" signed-in="{{isSignedIn}}"></google-signin-aware>
    <iron-ajax id="refresh" url="/city/generate" params="{{generateParams}}"></iron-ajax>
    <paper-card class="city flex">
      <div class="header paper-card">
        <div class="title-text paper-card layout horizontal">
          <span class="flex">
            <editing-item class="city-name" item="{{city.name}}"></editing-item>
          </span>
          <iron-icon class$="{{signedInClass}} self-center" icon="{{mainIcon}}"
                     on-tap="primaryTap"></iron-icon>
        </div>
      </div>
      <div class="card-content">
        <toggle-collapse header="Ruler" opened="[[opened]]" on-icon-tap="refreshRuler">
          <paper-input no-label-float value="{{city.ruler.name}}" on-keydown="_keyCheck">
            <span suffix class="flex self-end">{{city.ruler.species}}</span>
          </paper-input>
        </toggle-collapse>
        <toggle-collapse header="Population: {{city.population.tot}}"
                         content="{{_popContent(city.population.people)}}"
                         opened="[[opened]]"
                         on-icon-tap="refreshPopulation">
        </toggle-collapse>
        <toggle-collapse header="Inns/Shoppes"
                         content="{{city.inns}}"
                         opened="[[opened]]"
                         on-icon-tap="refreshInns">
        </toggle-collapse>
        <toggle-collapse header="Guilds"
                         content="{{city.guilds}}"
                         opened="[[opened]]"
                         on-icon-tap="refreshGuilds">
        </toggle-collapse>
      </div>
    </paper-card>
  </template>

  <script>
    Polymer({
      id: 'city-card',
      properties: {
        generateParams: Object,
        races: Array,
        city: {
          type: Object,
          notify: true
        },
        mainIcon: {
          type: String,
          value: 'delete'
        },
        opened: {
          type: Boolean,
          value: false
        },
        down: {
          type: String,
          value: "hardware:keyboard-arrow-down"
        },
        up: {
          type: String,
          value: "hardware:keyboard-arrow-up"
        },
        scopes: {
          type: String,
          value: "https://www.googleapis.com/auth/drive.appdata"
        },
        signedInClass: {
          type: String,
          computed: '_signedInClass(isSignedIn)'
        }
      },
      _popContent: function (people) {
        if (!people) {
          return;
        }
        return people.map(function (item) {
          return item.species + ": " + item.population;
        });
      },
      _signedInClass: function (isSignedIn) {
        return isSignedIn ? "" : "not-signed-in"
      },
      primaryTap: function () {
        if (!this.isSignedIn) {
          return;
        }
        this.fire("primary-tap");
      },
      refreshCityPart: function (cityPart) {
        this.$.refresh.generateRequest().completes.then(function (request) {
          this.set('city.' + cityPart, request.response[cityPart]);
        }.bind(this));
      },
      refreshName: function () {
        this.refreshCityPart('name');
      },
      refreshRuler: function () {
        this.refreshCityPart('ruler');
      },
      refreshPopulation: function () {
        this.refreshCityPart('population');
      },
      refreshInns: function () {
        this.refreshCityPart('inns');
      },
      refreshGuilds: function () {
        this.refreshCityPart('guilds');
      },

      toggleIcon: function (collapse, iconItem, force) {
        switch (force) {
          case 'open':
            collapse.show();
            iconItem.icon = this.up;
            break;
          case 'close':
            collapse.hide();
            iconItem.icon = this.down;
            break;
          default:
            collapse.toggle();
            iconItem.icon = collapse.opened ? this.up : this.down;
        }
      },
      toggleRuler: function () {
        this.toggleIcon(this.$.ruler, this.$.rulerIcon);
      },
      togglePopulation: function () {
        this.toggleIcon(this.$.population, this.$.populationIcon);
      },
      toggleInns: function () {
        this.toggleIcon(this.$.inns, this.$.innsIcon);
      },
      toggleGuilds: function () {
        this.toggleIcon(this.$.guilds, this.$.guildsIcon);
      }
    })
  </script>
</dom-module>