<thead>
<tr>
    <th class="mdl-data-table__cell--non-numeric mdl-color-text--accent">Name:</th>
    <th class="mdl-data-table__cell--non-numeric">
        <strong class="mdl-color-text--accent">{{city.name}}</strong>
    </th>
</tr>
</thead>
<tbody>
<tr>
    <td class="mdl-data-table__cell--non-numeric">Ruler:</td>
    <td class="mdl-data-table__cell--non-numeric">
        <span>{{city.ruler.name.text}} ({{city.ruler.species}})<br/></span>
    </td>
</tr>
<tr>
    <td [attr.rowspan]="city.population.people.length + 1" class="mdl-data-table__cell--non-numeric">Population:</td>
    <td class="mdl-data-table__cell--non-numeric">
        <span>Total: {{city.population.tot}}</span>
    </td>
</tr>
<tr *ngFor="#pop of city.population.people">
    <td class="mdl-data-table__cell--non-numeric">
        <span>{{pop.number}} {{pop.species}}<br/></span>
    </td>
</tr>
<tr *ngFor="#inn of city.inns; #first = first">
    <td *ngIf="first" [attr.rowspan]="city.inns.length" class="mdl-data-table__cell--non-numeric">Inns/Shoppes:</td>
    <td class="mdl-data-table__cell--non-numeric">
        <span>{{inn}}</span>
    </td>
</tr>
</tbody>