<link rel="import" href="city-card.html"/>
<link rel="import" href="../dark-theme.html"/>
<link rel="import" href="../util/hover-icon.html"/>
<link rel="import" href="/bower/iron-ajax/iron-ajax.html"/>
<link rel="import" href="/bower/iron-collapse/iron-collapse.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout.html"/>
<link rel="import" href="/bower/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/bower/paper-button/paper-button.html"/>
<link rel="import" href="/bower/paper-card/paper-card.html"/>
<link rel="import" href="/bower/paper-dropdown-menu/paper-dropdown-menu.html"/>
<link rel="import" href="/bower/paper-input/paper-input.html"/>
<link rel="import" href="/bower/paper-listbox/paper-listbox.html"/>
<link rel="import" href="/bower/paper-slider/paper-slider.html"/>

<dom-module id="city-page">
  <template>
    <style is="custom-style" include="dark-theme iron-flex iron-flex-alignment iron-flex-factors">
      :host ::content paper-input paper-input-container div.underline .unfocused-line {
        display: none;
      }

      :host .city-menu .caption {
        color: var(--light-theme-secondary-color);
        font-weight: normal;
      }

      :host ::content city-card.generated {
        --paper-input-container-focus-color: var(--light-theme-text-color);
        --iron-icon-fill-color: var(--light-theme-text-color);
        color: var(--light-theme-text-color);
      }

      :host ::content city-card.generated {
        --paper-input-container-input-color: var(--light-theme-secondary-color);
      }

      :host ::content paper-item [secondary] {
        font-size: 12px;
      }

      :host paper-slider {
        --paper-slider-knob-color: var(--primary-text-color);
        --paper-slider-active-color: var(--primary-text-color);
        width: 100%;
      }

      :host paper-button.generate-button {
        background-color: var(--accent-color);
        color: var(--light-theme-text-color);
      }
    </style>
    <iron-ajax id="generate" url="/city/generate"
               params="{{generateParams(diversity, size, race)}}"
               on-response="populateCity"></iron-ajax>
    <iron-ajax id="refresh" url="/city/generate"
               params="{{generateParams(diversity, size, race)}}"></iron-ajax>
    <div class="vertical layout">
      <paper-card class="city-menu">
        <div class$="card-content {{_layoutClass(columns)}} layout">
          <div class="flex">
            <div class="caption">Size <span id="sizecaption" class="caption"></span></div>
            <paper-slider secondary id="size" value="50" min="1"
                          on-value-change="updateSize"></paper-slider>
          </div>
          <div class="flex">
            <div class="caption">Diversity <span id="diversitycaption" class="caption"></span></div>
            <paper-slider secondary id="diversity" value="50" min="1"
                          on-value-change="updateDiversity"></paper-slider>
          </div>
          <div class="flex">
            <div class="caption">Dominant Race</div>
            <paper-dropdown-menu no-label-float id="race" class="flex">
              <paper-listbox class="dropdown-content" selected="0">
                <paper-item>Random</paper-item>
                <template is="dom-repeat" items="{{races}}">
                  <paper-item>{{item}}</paper-item>
                </template>
              </paper-listbox>
            </paper-dropdown-menu>
          </div>
          <paper-button class="generate-button" on-tap="generateCity">Generate</paper-button>
        </div>
      </paper-card>

      <div class$="{{_layoutClass(columns)}} layout wrap">
        <template is="dom-if" if="{{generatedCity}}">
          <city-card class="generated layout horizontal"
                     city="{{generatedCity}}"
                     races="{{races}}"
                     generate-params="{{generateParams(diversity, size, race)}}"
                     main-icon="star-border"
                     opened="true"
                     on-primary-tap="saveCity"></city-card>
        </template>
        <template is="dom-repeat" items="{{savedCities}}">
          <city-card class="dark"
                     city="{{item}}"
                     races="{{races}}"
                     generate-params="{{generateParams(diversity, size, race)}}"
                     on-primary-tap="removeCity"></city-card>
        </template>
      </div>
    </div>
  </template>

  <script>
    Polymer({
      is: 'city-page',
      properties: {
        races: Array,
        cityVariables: Object,
        columns: Number,
        generatedCity: Object,
        race: {
          type: String,
          value: "Random"
        },
        savedCities: {
          type: Object,
          notify: true
        },
        diversities: {
          type: Array,
          value: [
            "Exclusive",
            "Xenophobic",
            "Intolerant",
            "Unequal",
            "Tolerant",
            "Accepting",
            "Welcoming",
            "Enlightened",
            "Equal"
          ]
        },
        sizes: {
          type: Array,
          value: [
            "Family",
            "Clan",
            "Village",
            "Town",
            "City",
            "Metropolis",
            "Capital"
          ]
        }
      },
      listeners: {
        'race.iron-select': 'updateRace'
      },
      _layoutClass: function (columns) {
        return columns == 12 ? 'horizontal start' : 'vertical';
      },
      generateParams: function (diversity, size, race) {
        var params = {
          diversity: diversity,
          size: size,
          race: race || ""
        };
        if (params.race == "Random") {
          params.race = "";
        }
        return params;
      },
      updateDiversity: function () {
        this.set('diversity', this.$.diversity.value);
        if (!this.diversities) {
          return;
        }
        var index = Math.trunc(this.$.diversity.value / 100 * (this.diversities.length - 1) + .5);
        this.$.diversitycaption.textContent = this.diversities[index];
      },
      updateSize: function () {
        this.set('size', this.$.size.value);
        if (!this.sizes) {
          return;
        }
        var index = Math.trunc(this.$.size.value / 100 * (this.sizes.length - 1) + .5);
        this.$.sizecaption.textContent = this.sizes[index];
      },
      updateRace: function () {
        this.set('race', this.$.race.value);
      },
      computeTotalPop: function (population) {
        return population.reduce(function (value, item) {
          return value + item.population;
        }, 0);
      },
      generateCity: function () {
        this.$.generate.generateRequest();
      },
      populateCity: function (err, request) {
        this.generatedCity = request.response;
      },
      refreshCityPart: function (cityPart) {
        this.$.refresh.generateRequest().completes.then(function (request) {
          this.set('generatedCity.' + cityPart, request.response[cityPart]);
        }.bind(this));
      },
      refreshName: function () {
        this.refreshCityPart('name');
      },
      refreshRuler: function () {
        this.refreshCityPart('ruler');
      },
      refreshPopulation: function () {
        this.refreshCityPart('population');
      },
      refreshInns: function () {
        this.refreshCityPart('inns');
      },
      refreshGuilds: function () {
        this.refreshCityPart('guilds');
      },
      removeCity: function (event) {
        var index = this.savedCities.indexOf(event.target.city);
        if (index >= 0) {
          this.splice('savedCities', index, 1);
        }
      },
      saveCity: function () {
        this.unshift('savedCities', this.generatedCity);
        this.generatedCity = undefined;
      }
    });
  </script>
</dom-module>


