<form mdl-card content-color="primary" cell=12>
    <div card-title class="mdl-cell--top">City Generator</div>
    <div card-actions mdl-grid>
        <div form-radio cell=2 p=4 [(data)]=sizeData></div>
        <div form-radio cell=2 p=4 [(data)]=speciesData></div>
        <div form-radio cell=2 p=4 [(data)]=diversityData></div>
        <div cell=12>
            <button mdl-btn cell=2 (click)=generate()>
                <span *ngIf="!userData.generating">Generate</span>
                <mdl-spinner [show]=userData.generating></mdl-spinner>
            </button>
        </div>
    </div>
</form>