@font-face {
  font-family: BebasNeue;
  src: url("/fonts/BebasNeue Regular.otf") format("opentype"), url("/fonts/TTF/BebasNeue Regular.ttf") format("truetype"); }
@font-face {
  font-family: BebasNeueBold;
  src: url("/fonts/BebasNeue Bold.otf") format("opentype"), url("/fonts/TTF/BebasNeue Bold.ttf") format("truetype"); }
/* Common / Heading */
body {
  background-color: #501168;
  color: #c1b2c9;
  height: 100%;
  letter-spacing: 1px;
  padding-left: 10px;
  width: 100%;
  font-family: BebasNeue, sans-serif;
  font-size: 30px;
  font-weight: normal; }

/* Nav bars / sub navs  */
.navbar {
  margin-left: -10px;
  min-height: 0;
  z-index: 0; }

.navbar,
.navbar-brand,
.navbar-brand:hover,
.navbar-nav,
.navbar-nav .dropdown-toggle {
  background-color: #c1b2c9;
  color: #ffffff;
  font-family: BebasNeue, sans-serif;
  font-size: 30px;
  font-weight: normal; }

legend {
  border-bottom: none;
  color: #ffffff;
  margin-bottom: 0;
  font-family: BebasNeue, sans-serif;
  font-size: 40px;
  font-weight: normal; }

a {
  color: inherit; }

.label-input {
  background-color: #c1b2c9;
  border-radius: 6px;
  margin-bottom: 0;
  width: 100%;
  font-family: BebasNeue, sans-serif;
  font-size: 30px;
  font-weight: normal; }
  .label-input label {
    color: #501168;
    font-family: BebasNeue, sans-serif;
    font-size: 18px;
    font-weight: normal; }
  .label-input input {
    border-width: 0;
    color: #501168;
    outline: none;
    -webkit-box-shadow: none;
    font-family: BebasNeue, sans-serif;
    font-size: 18px;
    font-weight: normal; }
  .label-input > div.row {
    padding-bottom: 0; }
  .label-input > * {
    background-color: #c1b2c9;
    border-radius: 6px;
    float: inherit;
    margin-bottom: 0;
    vertical-align: middle; }

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #501168;
  opacity: 1; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.row {
  padding-bottom: 20px; }

.btn {
  border: 0 none;
  letter-spacing: 2px;
  outline: none;
  font-family: BebasNeue, sans-serif;
  font-size: 26px;
  font-weight: bold; }

.btn-group-vertical {
  width: 100%; }

.signout, .signin {
  font-weight: bold;
  z-index: 1; }

.generate-button {
  background-color: #bfd8d2;
  color: #501168; }
  .generate-button:hover {
    color: #bfd8d2;
    background-color: #34515a;
    border-color: #34515a;
    outline-color: #34515a !important; }

.loading {
  margin-top: 10px; }

.float-right {
  float: right; }

/* Alerts */
.alert {
  background-color: #c1b2c9;
  padding: 0;
  border-color: #c1b2c9;
  border-radius: 5px; }
  .alert strong,
  .alert strong i {
    border-radius: 7px;
    color: #501168;
    padding: 5px 4px;
    font-family: BebasNeue, sans-serif;
    font-size: 28px;
    font-weight: bold; }
  .alert name-line {
    cursor: pointer; }
    .alert name-line:hover {
      color: grey; }
  .alert input {
    height: 40px;
    font-family: BebasNeue, sans-serif;
    font-size: 28px;
    font-weight: normal; }
  .alert .btn {
    color: #501168;
    background-color: inherit;
    outline: none;
    border: none inherit; }
    .alert .btn:hover {
      color: #ffffff;
      outline: none;
      border: none; }
  .alert.stored {
    background-color: #bcbb48;
    border-color: #bcbb48; }
    .alert.stored name-line:hover {
      background-color: #e8e74e; }

/* Page Specific */
.content {
  margin: 25px;
  /* /name */
  /* /city */ }
  .content-name name {
    padding-left: 15px; }
  .content-name name-list {
    float: left;
    width: 100%; }
  .content-name name-line {
    padding-top: 5px; }
    .content-name name-line:hover {
      background-color: #bfd8d2; }

.content-city table tbody tr:nth-child(odd) {
  color: #501168;
}
  .content-city table th:first-child,
  .content-city table td:first-child {
    width: 20%; }
  .content-city table th:last-child,
  .content-city table td:last-child {
    width: 10%; }
  .content-city .panel-title a {
    width: 100%; }
  .content-city label input[type=radio] {
    display: none; }
  .content-city city-form .panel-title a {
    font-family: BebasNeue, sans-serif;
    font-size: 26px;
    font-weight: bold; }
  .content-city city-form label.btn {
    font-family: BebasNeue, sans-serif;
    font-size: 20px;
    font-weight: normal; }
  .content-city city th {
    font-family: BebasNeue, sans-serif;
    font-size: 22px;
    font-weight: bold; }
  .content-city city td {
    font-family: BebasNeue, sans-serif;
    font-size: 22px;
    font-weight: normal; }
  .content-city city * {
    white-space: nowrap; }

/*# sourceMappingURL=main.css.map */
