body {
    margin: 100px;
    width: 100%;
    height: 100%;
    background-color: lightblue;
}

input#numNames {
    background-image: -webkit-linear-gradient(top, white, lightblue);
    width: 350px;
}

input#submit {
    background-image: -webkit-linear-gradient(left, darkorange, orange);
}

strong {
    font: verdana, arial, helvetica, sans-serif;
}