<link rel="import" href="/bower/iron-media-query/iron-media-query.html">

<script>
  VariableLayoutBehavior = {
    properties: {
      _mediaQuery: {
        type: Object,
        value: function() {
          var mediaQuery = document.createElement('iron-media-query');
          mediaQuery.setAttribute('query', 'min-width: 600px');
          return mediaQuery;
        }
      },
      layoutStyle: {
        type: String,
        computed: '_layoutStyle(_mediaQuery)'
      }
    },
    _layoutStyle: function(mediaQuery) {
      return mediaQuery.queryMatches ? "horizontal" : "vertical";
    }
  };
</script>