<!DOCTYPE html>
<html>
<head>
    <title>RP Toolkit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/">
    <!-- Angular2 and its dependencies -->
    <script src="/js/node_modules/es6-shim/es6-shim.js"></script>
    <script src="/js/node_modules/systemjs/dist/system-polyfills.js"></script>
    <script src="/js/node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="/js/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/js/node_modules/rxjs/bundles/Rx.js"></script>
    <script src="/js/node_modules/angular2/bundles/angular2.dev.js"></script>
    <script src="/js/node_modules/angular2/bundles/router.dev.js"></script>
    <script src="/js/node_modules/angular2/bundles/http.dev.js"></script>
    <script src="/js/node_modules/material-design-lite/material.min.js"></script>

    <link rel="stylesheet" href="/css/main.css"></link>
    <link rel="stylesheet" href="/js/node_modules/material-design-lite/dist/material.purple-orange.min.css"></link>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>

    <resource href="/loading.gif" height="40" width="40">
        <meta http-equiv="Content-type" content="image/gif">
    </resource>
</head>

<body class="content">
<input id="user-authed" style="display:none" value="${userAuthed}">
<rptools-app></rptools-app>
<script src="/js/system-init.js"></script>
</body>
</html>