<!DOCTYPE html>
<html>
<head>
  <title>RP Toolkit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/">
  <!-- paper and its dependencies -->
  <script src="/bower/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link rel="import" href="/templates/rptools-app.html"></link>

  <style is="custom-style">
    :root {
      /* Main colors */
      --primary-color: var(--paper-deep-purple-50);
      --dark-primary-color: var(--paper-deep-purple-700);
      --light-primary-color: var(--primary-color);
      --accent-color: var(--paper-orange-a200);
      --dark-accent-color: var(--paper-orange-a400);
      --light-accent-color: var(--paper-orange-a100);

      /* Main theme */
      --primary-background-color: var(--light-theme-background-color);
      --secondary-text-color: var(--light-theme-secondary-color);
      --disabled-text-color: var(--light-theme-disabled-color);
      --divider-color: var(--light-theme-divider-color);

      /* light theme */
      --light-theme-background-color: var(--light-primary-color);
      --light-theme-base-color: var(--dark-primary-color);
      --light-theme-text-color: var(--dark-primary-color);
      --light-theme-secondary-color: var(--paper-deep-purple-200);
      --light-theme-disabled-color: var(--paper-deep-purple-300);
      --light-theme-divider-color: var(--paper-deep-puple-200);

      /* dark theme */
      --dark-theme-background-color: var(--paper-deep-purple-400);
      --dark-theme-base-color: var(--dark-primary-color);
      --dark-theme-text-color: var(--light-primary-color);
      --dark-theme-secondary-color: var(--paper-deep-purple-100); /* for secondary text and icons */
      --dark-theme-disabled-color: var(--paper-deep-purple-200); /* disabled/hint text */
      --dark-theme-divider-color: var(--paper-deep-purple-100);
    }

    :root hr.divider {
      border-top-color: var(--disabled-text-color);
    }

    :root iron-pages {
      margin: 10px 10px;
    }

    body {
      letter-spacing: 1px;
      margin: 0;
      font-family: Roboto, 'Noto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  </style>
</head>

<body class="fullbleed vertical layout">
<rptools-app races='$races'></rptools-app>
</body>
</html>