<script>
  window.rptools = window.rptools || {};
  rptools.TableRollBehavior = {
    properties: {
      tables: {
        type: Object
      }
    },
    // Scans through tables object to find the tableset with the specified name.
    getTableSet: function(tables, tableSetName) {
      if (!tables) {
        return false;
      }
      for (var i = 0; i < tables.tablesArray.length; i++) {
        var table = tables.tablesArray[i];
        if (table.name == tableSetName) {
          return table;
        }
        if (table.tablesArray) {
          var tableSet = this.getTableSet(table, tableSetName);
          if (tableSet) {
            return tableSet;
          }
        }
      }
      return null;
    },
    getRandomEntry: function (table) {
      var mainColumn = table.columns[0];
      this.roll = Math.floor(Math.random() * table.maxRoll);
      var ind = this.roll;
      var i = 0;
      var entry;
      while(ind >= 0) {
        entry = table.entries[i++];
        ind -= entry.weight;
      }
      if (typeof entry[mainColumn] == 'object') {
        var tablePath = entry[mainColumn].table_path;
        if (tablePath) {
          // TODO: Address results that call for multiple rolls on current table.
          if (tablePath != 'this') {
            tablePath = tablePath.replace(/\./g, '.tables.');
            var redirectTable = this.get('tables.tables.' + tablePath);
            return {
              entry: entry,
              redirectTable: redirectTable,
              redirectEntry: this.getRandomEntry(redirectTable).entry
            }
          }
        }
      }
      return {
        entry: entry
      };
    },
    redirectEntryText: function(value) {
      var rolls = value.num_rolls || 1;
      var rollText = rolls == 1 ? 'Roll' : 'Roll ' + rolls + ' times';
      if (value.table_path == 'this') {
        return rollText + ', ignoring further rerolls.';
      }
      var table_path = value.table_path.replace(/\./g, '->');
      return rollText + ' on ' + table_path + ' table.';
    }
  };
</script>